body {
    background: black;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
    background: yellow;
    color: black;
    padding: 1%;
    font-weight: 700;
    display: inline-block;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a:hover {
    
    color: black;
   
}

.textbox {
    margin-top: 30%;
}

.socials {
    margin-top: 5%;
    
}

a {
   display: table;
}

h3 {
    font-size: 1.75rem;
        display: table;

}

h3:hover {
    background: yellow;

    padding-right: 1%;
    
}

@media (max-width: 1200px) {
    .textbox {
        margin-top: 5%;
    }
}
